# Train, Val, and Test Split

In [1]:
# Import the libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Read the CSV file into a DataFrame
titanicDf = pd.read_csv('./titanic_cleaned.csv')
titanicDf.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  cabin_ind
0         0       3    0  22.0      1      0   7.2500       1.0          0
1         1       1    1  38.0      1      0  71.2833       3.0          1
2         1       3    1  26.0      0      0   7.9250       1.0          0
3         1       1    1  35.0      1      0  53.1000       1.0          1
4         0       3    0  35.0      0      0   8.0500       1.0          0

In [3]:
# Create two DataFrame for both the label and the features
labelDf = titanicDf['Survived']
featuresDf = titanicDf.drop('Survived', axis=1)

In [4]:
# 60/20/20

# Training we have 60% and 40% for test
trainF, testF, trainL, testL = train_test_split( featuresDf, labelDf, test_size=0.4, random_state=42 )

# Divide the test into two parts: 50% for test and 50% for validation
testF, valF, testL, valL = train_test_split( testF, testL, test_size=0.5, random_state=42 )

In [5]:
for dataset in [trainF, valF, testF]:
    ratio = round(len(dataset)/len(featuresDf), 2)
    print(ratio)

0.6
0.2
0.2

In [6]:
trainF.to_csv('./train_features.csv', index=False)
trainL.to_csv('./train_labels.csv', index=False)

valF.to_csv('./validation_features.csv', index=False)
valL.to_csv('./validation_labels.csv', index=False)

testF.to_csv('./test_features.csv', index=False)
testL.to_csv('./test_labels.csv', index=False)