# KMeans for Mall Customers Segmentation

*   <b>CustomerID</b>: random ID assigned to each customer
*   <b>Gender</b>: Male or Female
*   <b>Age</b>: Age of customer
*   <b>Annual Income (k$)</b>: Income in thousands of dollars
*   <b>Spending Score (1-100)</b>: Rating of customer spending at mall

### Import Data and Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

%matplotlib inline

In [2]:
customersDf = pd.read_csv('./mall_customers.csv')
customersDf.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### EDA

1.   Remove irrelevant features
2.   Use the .info() method to check missing values, data types, etc.
3.   Use the .describe() to produce summary of descriptive statistics for the dataset