# Deep Learning for Predicting Game Sales

### Import Data and Libraries

In [1]:
import pandas as pd

# Sequential will be used to create the three
# layers of neural networks: 
# (1) Input Layer, (2) Hiddens Layers, and (3) Output Layer
from keras.models import Sequential

# Use '*' to import all three types of layers
from keras.layers import *

In [2]:
trainDf = pd.read_csv('./sales_data_train_scaled.csv')
trainDf.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0       0.500000        1.0  ...        0.374714         1.0
1       0.833333        0.0  ...        0.192425         0.5
2       0.333333        0.0  ...        0.114852         0.5
3       0.833333        1.0  ...        0.142452         0.0
4       0.666667        1.0  ...        0.480682         1.0

[5 rows x 10 columns]

In [3]:
# Use .value attribute to extract features as NumPy array
features = trainDf.drop('total_earnings', axis=1, inplace=False).values

# Note: two square brackets because this is a Pandas DataFrame (i.e, multidimensiona;)
label = trainDf[['total_earnings']].values

### Building the Neural Network

In [4]:
# Instantiate the Sequential class
modelDL = Sequential()

# Add the Input Layer
# Note:
# Dense: is the neural network architecture type
# input_dim: is the number of features
# activation: is the activation function ReLU (Rectified Linear Unit)
modelDL.add( Dense(50, input_dim=9, activation='relu') )

# Add the Hidden Layers
modelDL.add( Dense(100, activation='relu') )
modelDL.add( Dense(50, activation='relu') )

# Add the Output Layer
modelDL.add( Dense(1, activation='linear') )

# Compile the Deep Learning model
modelDL.compile(loss='mean_squared_error', optimizer='adam')

In [5]:
# Note:
# features is the array of explanatory (random) variables
# label is the array of response (random) variable
# epochs is the number of times to feed the entire data to the model
# shuffle will randomize the features
# verbose will control the logging of TensorFlow
modelDL.fit( features, label, epochs=50, shuffle=True, verbose=20)

Epoch 1/50
Epoch 2/50
Epoch 3/50
Epoch 4/50
Epoch 5/50
Epoch 6/50
Epoch 7/50
Epoch 8/50
Epoch 9/50
Epoch 10/50
Epoch 11/50
Epoch 12/50
Epoch 13/50
Epoch 14/50
Epoch 15/50
Epoch 16/50
Epoch 17/50
Epoch 18/50
Epoch 19/50
Epoch 20/50
Epoch 21/50
Epoch 22/50
Epoch 23/50
Epoch 24/50
Epoch 25/50
Epoch 26/50
Epoch 27/50
Epoch 28/50
Epoch 29/50
Epoch 30/50
Epoch 31/50
Epoch 32/50
Epoch 33/50
Epoch 34/50
Epoch 35/50
Epoch 36/50
Epoch 37/50
Epoch 38/50
Epoch 39/50
Epoch 40/50
Epoch 41/50
Epoch 42/50
Epoch 43/50
Epoch 44/50
Epoch 45/50
Epoch 46/50
Epoch 47/50
Epoch 48/50
Epoch 49/50
Epoch 50/50